body {
  background-color: #EFEFF5;
  font-size: 17px;
  font-family: -apple-system, BlinkMacSystemFont, Helvetica, sans-serif;
  letter-spacing: -0.0041em;
}

*, *:before, *:after {
  box-sizing: border-box;
}

img [src="status-bar-pic"]{
  display: inline-block;
  position: sticky;
  top: 0px;
}

.navigation-bar{
  background-color: #F7F7F7;
  box-shadow: 0px 5px 10px #979797;
}

.back-button{
  padding-top: 5px;
  padding-left: 5px;
  padding-bottom: 5px;
}

.text{
  text-align: left;
  line-height: 20px;
}

h1{
  font-size: 2em;
  font-weight: bold;
  letter-spacing: 0.0145em;
  line-height: 40.6px;
  padding-left: 15px;
  padding-top: 10px;
  padding-bottom: 5px;
}

h2{
  text-transform: uppercase;
  font-size: 13px;
  letter-spacing: -0.0008em;
  line-height: 16px;
  padding-left: 15px;
  padding-top: 20px;
  color: #979797;
}


.frequency, li, .singular {
  line-height: 28px;
  background-color: #FFFFFF;
}

.group, .singular {
  margin-left: 5px;
  margin-right: 5px;
}

.bus-numbers{
  background-color: #DC0808;
  color: #FFFFFF;
  font-size: 15px;
  line-height: 24px;
  letter-spacing: -0.0024em;
  padding: 2px;
  border-radius: 12px;
  display: inline-block;
  width: 30px;
  text-align: center;
  margin-right: 40px;
  margin-left: 10px;
  margin-top: 5px;
}

.bus-route{
  width: 160px;
  display: inline-block;
  font-size: 17px;
  line-height: 28px;
  letter-spacing: -0.0041em;
}


.text-time{
  width: 45px;
  display: inline-block;
  margin-left: 50px;
  font-weight: 500;
}

.frequency{
  color: rgba(0,0,0,0.60);
  line-height: 22px;
  padding-left: 15px;
  margin-top: 2px;
}


#high{
  color: #DC0808;
}

#moderate{
  color: #FF9500;
}

#high, #moderate{
  font-weight: 600;
}

.tab-bar{
  background-color: #F7F7F7;
  box-shadow: 5px 0px 10px #979797;
  margin-top: 20px;
  position: sticky;
  bottom: 0;
}

.tab-icon{
  padding-left: 55px;
  padding-top: 15px;
  margin-bottom: 5px;
}

img{
  padding-right: 52px;
}

.tab-icon-title{
  font-size: 12px;
  font-weight: lighter;
  color: #A1A1A1;
  line-height: 14px;
  letter-spacing: 0.0145em;
  padding-right: 20px;
}

.tab-icon-titles{
  padding-left: 30px;
  padding-bottom: 5px;
}

#one{
  color: #DA2119;
}

#three {
  padding-left: 10px;
}
